<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linwei.cams_mvvm">

    <application>
        <meta-data
            android:name="com.linwei.cams_mvvm.global.GlobalMvvmConfiguration"
            android:value="GlobalConfigModule" />
    </application>
</manifest>