<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linwei.cams_mvp">

    <application>
        <meta-data
            android:name="com.linwei.cams_mvp.global.GlobalMvpConfiguration"
            android:value="GlobalConfigModule" />
    </application>
</manifest>